body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    background: linear-gradient(to bottom, white, grey);
}

nav {
    background: #222;
    padding: 10px 0;
    display: inline-block;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    margin-top: 20px;
}

h2 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.jucatori, .evenimente {
    width: 45%;
}

.jucatori ul {
    list-style-type: none;
    padding: 0;
}

.jucator {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.jucator img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

.evenimente h3 {
    color: #333;
}

.evenimente ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.evenimente ul li {
    margin: 10px 0;
    color: #444;
}

.poze-evenimente {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.poze-evenimente img {
    width: 23%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.poze-evenimente img:hover {
    transform: scale(1.1);
}

/* Info Box */
.info-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    max-width: 80%;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    transition: display 0.3s ease;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

form p {
    text-align: center;
    margin-top: 15px;
}

form p a {
    color: #007bff;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

#message {
    margin-top: 10px;
    text-align: center;
}

#message .success {
    color: #3bd55e;
    font-weight: bold;
}

#message .error {
    color: #dc3545;
    font-weight: bold;
}